.table {
  border: 2px solid black;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 2px;
  background-color: #f0f0ff;
  transition: background-color 0.3s;
  text-align: center;
}

.table td {
  border: 1px solid black;
}

.link {
  color: #4f1616;
  transition: color 0.3s;
}

.link:hover {
  color: #00ffae;
  background-color: #115599;
}

.links-container {
  position: relative;
  background-color: rgb(180, 180, 180);
  margin-left: 50px;
  margin-right: 500px;
  padding-right: 30px;

}

.review-link {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-left: 44%;
  margin-right: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links {
  margin-bottom: 1000px;
  padding-bottom: 500px;
}

h1,
h3 {
  color: #115599;
}

li {
  font-style: italic;
}

.bad {
  background-color: red;
}
.almost-bad {
  background-color: orange;
}
.neutral {
  background-color: yellow;
}
.almost-good{
  background-color: limegreen;
}
.good {
  background-color: green;
}

.notification {
  color: purple;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}

.logincontainer {
  display: flex;
  opacity: 100%;
  width: 30%;  
  height: 50%;
  background-color: rgb(194, 194, 194);
  margin: auto;
  margin-top: 100px;
  border-radius: 30px;
}

.login-title {
  font: #0f0f0f;
  margin-left: 15%;
}

.form {
  align-content: center;
  margin: auto;
  padding-left: 20%;
}

.loginbutton {
  align-content: center;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 30px;
  background-color: #e16969;
  font: #ffffff;
}

button:hover {
  color: #ffffff;
  background-color: #000000;
}

.logoutButton {
  display: flex;
  margin-bottom: 50%;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  background-color: #e16969;
  font: #ffffff;
}

.app-container {
  position: relative;
  height: 1000px;

}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

.home-container {
  position: relative;
  z-index: 1; 
}

.qr-reader {
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  background-color: rgb(255, 255, 255);
}

.gray-background {
  background-color: #bbbbbb;
  border-radius: 0 130px 0 0; /* Top-right corner rounded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 16px;
  overflow: hidden;
}
